* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1482px;
    margin-inline: auto;
    padding-inline: 20px;
}

.poper-ev {
    display: flex;
    justify-content: space-between;
}

body {
    font-family: "Jost", sans-serif;

}

::selection{
    background-color: rgba(13, 150, 241, 0.877);
}

header {
    position: absolute;
    width: 100%;
    padding-block: 20px;
    z-index: 10;
    color: aliceblue;
    background-color: #051036bb;

}

.aencer-def {
    color: antiquewhite;
    text-decoration: none;
}

.ment-walt {
    border: 0.3em solid #ccc;
    padding: 3px;
}

.module-content {
    height: 30px;
    border-radius: 50%;
    font-size: 25px;
    text-align: left;
    text-decoration: none;
    color: antiquewhite;
    font-display: auto;

}

.nevigation-coma {

    display: flex;
    align-items: center;
}

.netiv-folt {
    text-align: left;
    text-decoration: none;
    display: flex;



}

.module-content-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    font-size: 20px;
}

.fromer-dome {
    display: inline-block;
    color: white;
}

.hend-head {


    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;

}

.text-men {
    font-size: 20px;
}



.constric {
    display: flex;
    padding: 0;
    margin: 0;
    width: 90%;
    align-items: center;
    gap: 30px;
    list-style: none;

}
.hero-sction {
    position: relative;
    height: 100vh;
}
/* IMAGE BG */
.hero-bg {
    height: 100%;
}

.hero-bg img {

    height: 100%;
    width: 100%;
    object-fit: cover;
}
.neme-second {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-block: auto;
    text-align: center;
    width: 100%;
    color: rgb(244, 246, 248);
    font-size: 30px;
 
    
   
}


/* .hero-sction:hover .neme-second{
            opacity: 1;
           margin-left:0;

} */


.kemio-coma img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}





.jems-stope {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}



.img-box {
    padding-block: 100px;
}

.d-none {
    display: none;
}

/* photo text  */

.verchual-de {
    position: absolute;
    text-align: center;
    z-index: 10;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: antiquewhite;
    font-family: "jost", sans-serif;
    opacity: 0;
    transition: all .5s cubic-bezier(.165, .84, .44, 1);

}

/* photo london */
.senter-of-nation {
    height: 500px;
    position: relative;

}

.senter-of-nation:hover .verchual-de {
    opacity: 1;
}

.senter-of-nation img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* end photo */
/* footer */
.footer{
        
background-color: aquamarine;
}
.foster-monster{
        text-align: center;
        font-size: 40px;
        color: blue;

}
.mentor-foot{
        color: rgb(119, 119, 143);
        text-align: center;
        font-size: 20px;

}
.semple-kmino{
        font-family: serif;
        font-size: 60px;
    

}
.cemosemo-semia{
    height: 30px;
    border-radius: 50%;
    font-size: 35px;
    text-align: left;
    text-decoration: none;
    color: rgb(252, 250, 249);
    font-display: auto;
}


/* End foter */
/* logo */
.generic-hamburger {
    outline: none;
    background-color: transparent;
    width: 32px;
    height: 32px;
    position: relative;
    border: none;

}

.generic-hamburger__checkbox:checked~.generic-hamburger__bar:nth-of-type(1),
.generic-hamburger__checkbox:checked~.generic-hamburger__bar:nth-of-type(3) {
    transform: translateY(-50%);
    top: 50%;
}

.generic-hamburger__checkbox:checked~.generic-hamburger__bar:nth-of-type(1) {
    transform: rotate(45deg);
}

.generic-hamburger__checkbox:checked~.generic-hamburger__bar:nth-of-type(2) {
    opacity: 0;
}

.generic-hamburger__checkbox:checked~.generic-hamburger__bar:nth-of-type(3) {
    transform: rotate(-45deg);
}

.generic-hamburger__bar {
    background-color: #fcf7f7;
    width: 100%;
    height: 4px;
    left: 0;
    transform-origin: center;
    height: 4px;
    position: absolute;
    border: 1px solid #fcf7f7;
    border-radius: 6px;
    transition: all .3s;
}

.generic-hamburger__checkbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

.generic-hamburger__bar:nth-of-type(1) {
    top: 0;
}

.generic-hamburger__bar:nth-of-type(2) {
    top: calc(50% - (8px / 2));
}

.generic-hamburger__bar:nth-of-type(3) {
    top: calc(100% - 8px);
}

/* end */


.bottom-for-tmo {
    display: none;
}

@media (max-width:1023.99px) {
    .hend-head {
        position: fixed;
        flex-direction: column;
        width: 300px;
        height: 100%;
        background-color: rgba(11, 13, 15, 0.623);
        top: 0;
        left: 0;
        justify-content: start;
        padding-top: 100px;
        padding-inline: 20px;
        transform: translateX(-100%);
        transition: all 0.5s ease;
    }

    .constric {
        flex-direction: column;
        align-items: start;

    }

    .active {
        transform: translateX(0);

    }

    .bottom-for-tmo {
        display: block;
    }

    .neme-second {
        font-size: 30px;
    }

    .jems-stope {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media (max-width:767.99px) {
    .hend-head {
        position: fixed;
        flex-direction: column;
        width: 300px;
        height: 100%;
        background-color: rgba(11, 13, 15, 0.623);
        top: 0;
        left: 0;
        justify-content: start;
        padding-top: 100px;
        padding-inline: 20px;
        transform: translateX(-100%);
        transition: all 0.5s ease;
    }

    .constric {
        flex-direction: column;
        align-items: start;

    }

    .active {
        transform: translateX(0);

    }

    .bottom-for-tmo {
        display: block;
    }

    .neme-second {
        font-size: 20px;
    }

    .jems-stope {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:556.99px) {
    .hend-head {
        position: fixed;
        flex-direction: column;
        width: 300px;
        height: 100%;
        background-color: rgba(11, 13, 15, 0.623);
        top: 0;
        left: 0;
        justify-content: start;
        padding-top: 100px;
        padding-inline: 20px;
        transform: translateX(-100%);
        transition: all 0.5s ease;
    }

    .constric {
        flex-direction: column;
        align-items: start;
    }

    .active {
        transform: translateX(0);

    }

    .bottom-for-tmo {
        display: block;
    }

    .neme-second {
        font-size: 15px;
    }

    .jems-stope {
        grid-template-columns: repeat(1, 1fr);
    }
}